<div class="d-flex justify-content-center">
  <div class="new">
    <h1>New List</h1>
    <%= simple_form_for @list, local: true, html: { multipart: true } do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.file_field :image %>
      </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
    <% end %>

    <br>
    <%= link_to 'Back', root_path %>
  </div>
</div>
